# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini
$RECYCLE.BIN/

# Editors and IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.tmp/
.temp/

# Dependências / Node (caso use futuramente com algum build)
node_modules/
dist/
build/
.env

# Arquivos temporários do Sistema/Browser
.directory
